html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.screen {
    font-size: 10px;
    height: 100%;
    background-image: url(/assets/img/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}

#game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

canvas {
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 30px;
}

#gameOver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#gameOverImg{
    width: 350px;
    height: 400px;
    background-image: url(/assets/img/gameover.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -430px;
    border: 1px solid black;
}

#gameWin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#gameWinImg{
    width: 350px;
    height: 400px;
    background-image: url(/assets/img/secret.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -430px;
    border: 1px solid black;
}


#start {
    text-align: center;
    color: yellow;
    background-color: black; 
    border: solid 0.5px yellow;
    box-shadow: 3px 3px 10px grey;
    border-radius: 5px;
    margin-top: 10px;
}

#restart {
    text-align: center;
    color: yellow;
    background-color: black; 
    border: solid 0.5px yellow;
    box-shadow: 3px 3px 10px grey;
    border-radius: 5px;
    margin-top: 10px;
}

#reload {
    text-align: center;
    color: yellow;
    background-color: black; 
    border: solid 0.5px yellow;
    box-shadow: 3px 3px 10px grey;
    border-radius: 5px;
    margin-top: 10px;
}